# MTS 525: Complex Network Analysis | Pair Research Network Analysis
Analysis of [Pair Research](http://pairresearch.io/) data for the MTS 525: Complex Network Analysis final project.

# Load in Libraries and Stable Roommates Matching Module

In [1]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

In [2]:
# analysis
import multiprocessing as mp
import random
import math
import pandas as pd
import numpy as np
import networkx as nx

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer
stops = set(stopwords.words('english'))

from copy import deepcopy
from pymongo import MongoClient

In [3]:
# plotting
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
%matplotlib inline

In [4]:
%load_ext autoreload
%autoreload 2

# load stable roommates and pair research modules
import os, sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from stable_roommates import stable_matching_wrapper as sr_matching
from stable_roommates import verify_stability
from stable_roommates import create_preference_matrix
from stable_roommates import compute_partially_stable_matching
from stable_roommates import compute_matching_cardinality

from pair_research import create_matching_output

# Fetch Pairing Data from [pairresearch.io](http://pairresearch.io/)

In [5]:
uri = 'mongodb://delta:delta@ds011419.mlab.com:11419/pair-research'
dbName = 'pair-research'
client = MongoClient(uri)
db = client[dbName]
db.collection_names()

/Users/kapilgarg/.local/share/virtualenvs/pair-research-matching-alg-eA8Y6AJ7/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """

[u'affinities',
 u'meteor_accounts_loginServiceConfiguration',
 u'tasks_history',
 u'groups',
 u'users',
 u'objectlabs-system.admin.collections',
 u'pairs_history',
 u'tasks',
 u'system.indexes',
 u'pairings',
 u'objectlabs-system',
 u'affinities_history']

In [6]:
users = pd.DataFrame(list(db.users.find({})))

print('Number of Users: {}'.format(len(users)))
users.head()

Number of Users: 980

,_id,createdAt,emails,groups,profile,services
0,dibWQsjhkpvC52AFp,2016-08-16 15:54:28.489,"[{u'verified': False, u'address': u'hjlkadfjkl...",[],{u'fullName': u'hihi'},{u'password': {u'bcrypt': u'$2a$10$dkjBKl9Po3A...
1,BPQ7hyoHgghctHPqq,2016-08-29 18:24:50.295,"[{u'verified': True, u'address': u'egerber@nor...","[{u'isPending': False, u'groupName': u'Delta L...",{u'fullName': u'Liz Gerber'},{u'password': {u'bcrypt': u'$2a$10$1.nd.WyfVgg...
2,bZEjadPH7KrjM9PfD,2016-11-10 19:19:34.147,"[{u'verified': False, u'address': u'ampiper@no...","[{u'isPending': True, u'groupName': u'Segal De...",{u'fullName': u'ampiper@northwestern.edu'},{u'password': {}}
3,8mRni9ixefux6bSz9,2016-12-09 01:55:36.706,"[{u'verified': False, u'address': u'hscho122@k...",[],{u'fullName': u'hscho122@kaist.ac.kr'},{u'password': {}}
4,JXCrPvRJwM5pK4Wk7,2017-01-05 07:05:46.455,"[{u'verified': False, u'address': u'artydevelo...",[],"{u'fullName': u'Deokseong', u'avatar': u'http:...",{u'password': {u'bcrypt': u'$2a$10$Obf8jHjBnkq...

In [7]:
groups = pd.DataFrame(list(db.groups.find({})))

# remove testing groups
group_creator_ignore_list = ['Demo Admin', 'ykykykykykykykykykyk', 'Stella', 'Kevin Northwestern',
                             'Kevin Chen', 'Leesha', 'Jennie']
group_ignore_ids = groups[groups['creatorName'].isin(group_creator_ignore_list)]['_id'].unique()

# subset groups by id
groups_orig_size = len(groups)
groups_new_size = 0

groups = groups[~groups['_id'].isin(group_ignore_ids)]
groups.reset_index(drop=True, inplace=True)

# print change in size
groups_new_size = len(groups)
print('Number of Groups \nOriginal size: {} --> New size: {}'.format(groups_orig_size, groups_new_size))

# display task history
groups.head()

Number of Groups
Original size: 553 --> New size: 70

,_id,active,activePairing,creationDate,creatorId,creatorName,description,groupName,members,roles
0,uPLDbfFqqdHEEkgCT,True,NaN,2016-08-10 18:55:16.164,goGr47HDwtfphJ5xK,Julian Vicens,Rock and Roll Band,Beatles,"[{u'isPending': False, u'role': {u'_id': u'oB3...","[{u'_id': u'oB3qMqXdTJNqR6vbZ', u'title': u'Gu..."
1,Et46F6odTBmiFiDSZ,True,nnN46Abcc78AAtqKf,2016-07-18 21:21:54.117,NtZ9hv3g6eLAwN2nY,Joe Germuska,Knight Lab taking Pair Research for a spin,Knight Lab Testing,"[{u'isPending': False, u'role': {u'_id': u's2J...","[{u'_id': u's2JKkhE9XC6GPW5ev', u'title': u'Ad..."
2,kY7xHo6c5m5tCiQMH,False,NaN,2016-09-28 19:17:10.709,u2GAvznbx7Jbf97Hk,Emily Withrow,Thursdays at 2:30,Knight Lab Pair Research,"[{u'isPending': False, u'role': {u'_id': u'q3P...","[{u'_id': u'q3PJXDZpMMhcZBRzM', u'title': u'Pr..."
3,KEo62WdN5WSkHa9Hh,False,NaN,2016-09-29 15:15:15.184,u2GAvznbx7Jbf97Hk,Emily Withrow,Thursdays at 2:30,Knight Lab Pair Research,"[{u'isPending': False, u'role': {u'_id': u'6L6...","[{u'_id': u'6L6YwxgDwpqgoYfQb', u'title': u'Pr..."
4,qPnf2DHHihugATnxD,True,52meFWjxGNoAqTJxx,2016-11-10 18:38:04.379,PavTL8zD9664wvtfB,Haoqi Zhang,an intellectual community for design faculty a...,Segal Design Cluster,"[{u'isPending': False, u'role': {u'_id': u'sSN...","[{u'_id': u'sSNgzD6So2kz95vjt', u'title': u'Pr..."

In [8]:
tasks_history = pd.DataFrame(list(db.tasks_history.find({})))

# remove bad groups
tasks_history_orig_size = len(tasks_history)
tasks_history_new_size = 0

tasks_history = tasks_history[~tasks_history['groupId'].isin(group_ignore_ids)]
tasks_history.reset_index(drop=True, inplace=True)

# add group_pairing_id
tasks_history['group_pairing_id'] = tasks_history['groupId'] + '-' + tasks_history['pairingId']

# print change in size
tasks_history_new_size = len(tasks_history)
print('Number of Tasks\nOriginal size: {} --> New size: {}'.format(tasks_history_orig_size, tasks_history_new_size))

# display task history
tasks_history.head()

Number of Tasks
Original size: 3742 --> New size: 3730

,_id,groupId,name,pairingId,task,userId,group_pairing_id
0,k4ewZSgDHsvDFkXpX,9mdkMmj4pY8Q2TwqF,Yongsung Kim,nRAQpsPhsQs4zRvTL,i need to send out a short-survey to interviewees,EDEFWcagLwCfXP5Jg,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
1,RZZWR8pABaJBKYNFu,9mdkMmj4pY8Q2TwqF,Julian Vicens,nRAQpsPhsQs4zRvTL,I would like to talk about different ways to m...,goGr47HDwtfphJ5xK,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
2,Xr3dvNreiwzq9ixrQ,9mdkMmj4pY8Q2TwqF,Spencer Carlson,nRAQpsPhsQs4zRvTL,Make educated guesses about the quality of my ...,vbsF64nAgoitwrNeB,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
3,dFpfXT8szHkp2pYgG,9mdkMmj4pY8Q2TwqF,Leesha,nRAQpsPhsQs4zRvTL,I need help planning a latency handling featur...,aNdSTecskgeAm2St5,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
4,zEMk9HQo9azvKzDye,9mdkMmj4pY8Q2TwqF,Eureka Foong,nRAQpsPhsQs4zRvTL,Installing a program using Terminal (I'm bad a...,JaEySKdKKg7LAF3Yg,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL

In [9]:
len(tasks_history['groupId'].unique())

32

In [10]:
pairings = pd.DataFrame(list(db.pairings.find({})))

# remove bad groups
pairings_orig_size = len(pairings)
pairings_new_size = 0

pairings = pairings[~pairings['groupId'].isin(group_ignore_ids)]

# add group_pair id
pairings['group_pairing_id'] = pairings['groupId'] + '-' + pairings['_id']
pairings.reset_index(drop=True, inplace=True)

# print change in size
pairings_new_size = len(pairings)
print('Number of Pairing Sessions\nOriginal size: {} --> New size: {}'.format(pairings_orig_size, pairings_new_size))

# display current pairings
print('Pairing count: {}, Unique group count: {}'.format(len(pairings), len(pairings.groupId.unique())))
pairings.sort_values('timestamp', ascending=False, inplace=True)
pairings.head()

Number of Pairing Sessions
Original size: 590 --> New size: 514
Pairing count: 514, Unique group count: 45

,_id,groupId,pairings,timestamp,group_pairing_id
513,QhvZzmffzePmQAxxC,sM3z5FkZfsABqcj3g,"[{u'secondUserId': u'buaJ6rCdSnAcynCwQ', u'fir...",2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC
512,cxykwwoReFbkspKjA,9mdkMmj4pY8Q2TwqF,"[{u'secondUserId': u'Z68eenXDt84czPkmN', u'fir...",2019-03-01 15:50:19.294,9mdkMmj4pY8Q2TwqF-cxykwwoReFbkspKjA
511,YKHFJtCMPQTbCFypR,sM3z5FkZfsABqcj3g,"[{u'secondUserId': u'HnvDuWqAnAqHbXxLT', u'fir...",2019-02-22 20:12:37.090,sM3z5FkZfsABqcj3g-YKHFJtCMPQTbCFypR
510,Pm9Mct6vEFFdFn8TA,9mdkMmj4pY8Q2TwqF,"[{u'secondUserId': u'jkwZFtFa69FijNWyY', u'fir...",2019-02-22 16:02:33.183,9mdkMmj4pY8Q2TwqF-Pm9Mct6vEFFdFn8TA
509,DHD3hcZe9qH2NwjkB,sM3z5FkZfsABqcj3g,"[{u'secondUserId': u'7RynKa5i8FCHSNqpY', u'fir...",2019-02-15 20:07:53.579,sM3z5FkZfsABqcj3g-DHD3hcZe9qH2NwjkB

In [11]:
pairs_history = pd.DataFrame(list(db.pairs_history.find({})))

# remove bad groups
pairs_history_orig_size = len(pairs_history)
pairs_history_new_size = 0

pairs_history = pairs_history[~pairs_history['groupId'].isin(group_ignore_ids)]

# add group_pairing_id column
pairs_history['group_pairing_id'] = pairs_history['groupId'] + '-' + pairs_history['pairingId']
pairs_history.reset_index(drop=True, inplace=True)

# print change in size
pairs_history_new_size = len(pairs_history)
print('Number of Pairs\nOriginal size: {} --> New size: {}'.format(pairs_history_orig_size, pairs_history_new_size))

# display current pairs_history
print('Unique group count: {}, Unique pairing count: {}'.format(len(pairs_history.groupId.unique()), 
                                                                len(pairs_history.group_pairing_id.unique())))
pairs_history.sort_values('timestamp', ascending=False, inplace=True)
pairs_history.head()

Number of Pairs
Original size: 2665 --> New size: 2657
Unique group count: 45, Unique pairing count: 514

,_id,firstUserId,firstUserName,firstUserRole,groupId,pairingId,secondUserId,secondUserName,secondUserRole,timestamp,group_pairing_id
2656,CXCye77pWeRNZeFof,7RynKa5i8FCHSNqpY,Judy Lee,Undergraduate Student,sM3z5FkZfsABqcj3g,QhvZzmffzePmQAxxC,aNdSTecskgeAm2St5,Leesha,Graduate Student,2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC
2655,fEQkSP7SidkvX4hbd,XYJc5ag7XK5m8P5cd,Maxine Whitely,Undergraduate Student,sM3z5FkZfsABqcj3g,QhvZzmffzePmQAxxC,SsEkXiNuNLddBepCX,Shankar Salwan,Undergraduate Student,2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC
2654,m4Zw5nM5WvdjJdKbT,cKrLSGagNNmMSSbij,richardhuang2019@u.northwestern.edu,Undergraduate Student,sM3z5FkZfsABqcj3g,QhvZzmffzePmQAxxC,LXTzT8KpQBpyQdXBD,Gobi Dasu,Graduate Student,2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC
2653,K9bAQNwG9Qdth4WqY,9Wcpa2nSnEX8k7kMN,Maggie Lou,Undergraduate Student,sM3z5FkZfsABqcj3g,QhvZzmffzePmQAxxC,KYm8XgZPdCibkfdh4,Suzy Lee,Undergraduate Student,2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC
2652,NELQLD6wjQty8pfXS,zmwK4tJHtwLw8pLRC,Garrett,Graduate Student,sM3z5FkZfsABqcj3g,QhvZzmffzePmQAxxC,mdhFQ6PNiAhfP7ce2,Kapil Garg,Undergraduate Student,2019-03-01 20:14:35.721,sM3z5FkZfsABqcj3g-QhvZzmffzePmQAxxC

In [12]:
tasks = pd.DataFrame(list(db.tasks.find({})))

# remove bad groups
tasks_orig_size = len(tasks)
tasks_new_size = 0

tasks = tasks[~tasks['groupId'].isin(group_ignore_ids)]
tasks.reset_index(drop=True, inplace=True)

# print change in size
tasks_new_size = len(tasks)
print('Number of Tasks\nOriginal size: {} --> New size: {}'.format(tasks_orig_size, tasks_new_size))

# display current tasks
tasks.head()

Number of Tasks
Original size: 1130 --> New size: 967

,_id,groupId,name,task,userId
0,kcrr49h2nqnd4zthw,Caei5ywbviEaF44TS,kchen,ihih,AX8FFZHzPa8eF8bBE
1,N4MWm7c8tTf9LZrZ5,NRg4vMMoxEAqTHazP,kchen,I need help with testing pair research,AX8FFZHzPa8eF8bBE
2,juYeYQAt5iNm64iJs,NRg4vMMoxEAqTHazP,ryan,Meteor cordova enterprise push notifications,SFg6T8vhT56EeCkRX
3,qFodnk9mikQF2SvHd,NRg4vMMoxEAqTHazP,shannon,Fixing my laptop screen,5FjQBco6MXaSFhap4
4,yYtwJsrNaYwFpBuvw,NRg4vMMoxEAqTHazP,katiegeorge,meatspace help,hkZoyLhrWetKwep3r

In [13]:
affinities = pd.DataFrame(list(db.affinities.find({})))

# remove bad groups
affinities_orig_size = len(affinities)
affinities_new_size = 0

affinities = affinities[~affinities['groupId'].isin(group_ignore_ids)]
affinities.reset_index(drop=True, inplace=True)

# print change in size
affinities_new_size = len(affinities)
print('Number of Current Affinities\nOriginal size: {} --> New size: {}'.format(affinities_orig_size, affinities_new_size))

# display current affinities
affinities.head()

Number of Current Affinities
Original size: 3289 --> New size: 3247

,_id,groupId,helpeeId,helperId,value
0,e6rjGWDrWE5YKxdbh,NRg4vMMoxEAqTHazP,AX8FFZHzPa8eF8bBE,SFg6T8vhT56EeCkRX,5.0
1,mSnrrMX7y26NSQ7iN,NRg4vMMoxEAqTHazP,SFg6T8vhT56EeCkRX,AX8FFZHzPa8eF8bBE,5.0
2,w72kT4Ez7xYkfE8JF,NRg4vMMoxEAqTHazP,5FjQBco6MXaSFhap4,AX8FFZHzPa8eF8bBE,1.0
3,c5xFCfvPimbBsnsGg,NRg4vMMoxEAqTHazP,hkZoyLhrWetKwep3r,AX8FFZHzPa8eF8bBE,4.0
4,bbTEQ3mvL46mTTskJ,NRg4vMMoxEAqTHazP,AX8FFZHzPa8eF8bBE,5FjQBco6MXaSFhap4,5.0

In [14]:
affinities_history = pd.DataFrame(list(db.affinities_history.find({})))

# remove bad groups
affinities_history_orig_size = len(affinities_history)
affinities_history_new_size = 0

affinities_history = affinities_history[~affinities_history['groupId'].isin(group_ignore_ids)]

# add group_pairing_id column
affinities_history['group_pairing_id'] = affinities_history['groupId'] + '-' + affinities_history['pairingId']

# remove duplicate ratings
affinities_history.sort_values(['group_pairing_id', 'helpeeId', 'helperId'], inplace=True)
affinities_history.drop_duplicates(subset=['group_pairing_id', 'helpeeId', 'helperId'], keep='last', inplace=True)
affinities_history.reset_index(drop=True, inplace=True)

# print change in size
affinities_history_new_size = len(affinities_history)
print('Number of Past Affinities\nOriginal size: {} --> New size: {}'.format(affinities_history_orig_size, affinities_history_new_size))

# display affinity data
print('Unique Group Pairings: {}'.format(len(affinities_history.group_pairing_id.unique())))
affinities_history.head()

Number of Past Affinities
Original size: 45064 --> New size: 44794
Unique Group Pairings: 497

,_id,groupId,helpeeId,helperId,pairingId,value,group_pairing_id
0,v3nKkg77Jouf6BZ8G,2rFoGTfRa9LFdpQNA,3si95Pn6NjXTxCWcT,GLTz7m8y7RqZCYzxx,2EPbA6HkydPTdxCWD,0.33,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
1,D2kBQDRftmygv5f4L,2rFoGTfRa9LFdpQNA,3si95Pn6NjXTxCWcT,PWufwHDsbRaw4se4X,2EPbA6HkydPTdxCWD,1.00,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
2,R588B5nqLhmLbC4iW,2rFoGTfRa9LFdpQNA,3si95Pn6NjXTxCWcT,f8wwqTXaifkxxoAc2,2EPbA6HkydPTdxCWD,0.00,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
3,poiynLy2tnCMNzdGf,2rFoGTfRa9LFdpQNA,3si95Pn6NjXTxCWcT,iyRaCwz7QzxPRSi5t,2EPbA6HkydPTdxCWD,1.00,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
4,KmiSFQicDRa263Nfc,2rFoGTfRa9LFdpQNA,3si95Pn6NjXTxCWcT,kEZXdjhfohiGxJWdu,2EPbA6HkydPTdxCWD,-1.00,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD

# Exploratory Analysis

## Pairings per group

In [15]:
pairing_count_bygroup = pairings.groupby(['groupId'])['_id'].count().sort_values(ascending=False).reset_index(name='count')
pairing_count_bygroup = pairing_count_bygroup.merge(groups[['_id', 'creationDate', 'groupName', 'description']], left_on='groupId', right_on='_id')
del pairing_count_bygroup['_id']

pairing_count_bygroup.head(5)

,groupId,count,creationDate,groupName,description
0,9mdkMmj4pY8Q2TwqF,116,2016-07-12 17:19:40.549,Delta Lab,an interdisciplinary research group and design...
1,BibLRuKtNNv7QEDqb,106,2016-10-24 01:25:46.834,KIXLAB,The KAIST Interaction Lab
2,sM3z5FkZfsABqcj3g,61,2016-08-12 21:59:07.587,"Design, Technology, and Research",DTR
3,PeACz8rabRn9BJRJc,31,2017-05-22 14:31:41.488,AY17 MSC 538-0,Graduate Class: Workplace Learning & Communiti...
4,cToFEbgXcFbrKsSrj,30,2018-01-19 18:35:52.004,IDEAL,Wei Chen's research lab

## Pairing sessions per person

In [16]:
pairing_sessions_byuser = pairs_history.groupby(['firstUserId'])['group_pairing_id'].count().sort_values(ascending=False).reset_index(name='count')
pairing_sessions_byuser = pairing_sessions_byuser.merge(pairs_history.groupby(['secondUserId'])['group_pairing_id'].count().sort_values(ascending=False).reset_index(name='count2'),
                                                        left_on='firstUserId', right_on='secondUserId')
pairing_sessions_byuser['total_count'] = pairing_sessions_byuser['count'] + pairing_sessions_byuser['count2']
pairing_sessions_byuser.drop(['count', 'count2', 'secondUserId'], axis=1, inplace=True)
pairing_sessions_byuser.rename({'firstUserId': 'userId'}, inplace=True)
pairing_sessions_byuser.head(10)

         firstUserId  total_count
0  EDEFWcagLwCfXP5Jg          111
1  aNdSTecskgeAm2St5          123
2  zmwK4tJHtwLw8pLRC           80
3  jkwZFtFa69FijNWyY          103
4  vbsF64nAgoitwrNeB           93
5  JaEySKdKKg7LAF3Yg           91
6  PavTL8zD9664wvtfB           94
7  gynuaAvfp3gAd4Gyo           75
8  MJkj24zXWKhnZQCc3           90
9  mdhFQ6PNiAhfP7ce2           78

## Task keywords

In [17]:
# augment stop words
task_stops = stops
task_stops.update({"can't", "i've", "let's", "i'm"})  # contractions
task_stops.update({'need', 'would', 'like', 'help', 'want', 'someone', 'cool', 'look'})  # common but not useful words

# From https://towardsdatascience.com/topic-modelling-in-python-with-nltk-and-gensim-4ef03213cd21
def get_lemma(word):
    lemma = wn.morphy(word)
    if lemma is None:
        return word
    else:
        return lemma

def get_lemma2(word):
    return WordNetLemmatizer().lemmatize(word)

def clean_task_request(text):
    # tokenize and make all token lower case
    tokens = WhitespaceTokenizer().tokenize(text)
    tokens = [token.lower() for token in tokens]
    
    # get only longer tokens
    tokens = [token for token in tokens if token not in task_stops]
    tokens = [get_lemma(token) for token in tokens]
    return tokens

In [18]:
# removing stop words only
tasks_history_tokens = tasks_history.drop_duplicates(['task'])
tasks_history_tokens['task_tokens'] = tasks_history_tokens['task'].apply(lambda x: clean_task_request(x))
tasks_history_tokens.head()

/Users/kapilgarg/.local/share/virtualenvs/pair-research-matching-alg-eA8Y6AJ7/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,_id,groupId,name,pairingId,task,userId,group_pairing_id,task_tokens
0,k4ewZSgDHsvDFkXpX,9mdkMmj4pY8Q2TwqF,Yongsung Kim,nRAQpsPhsQs4zRvTL,i need to send out a short-survey to interviewees,EDEFWcagLwCfXP5Jg,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL,"[send, short-survey, interviewee]"
1,RZZWR8pABaJBKYNFu,9mdkMmj4pY8Q2TwqF,Julian Vicens,nRAQpsPhsQs4zRvTL,I would like to talk about different ways to m...,goGr47HDwtfphJ5xK,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL,"[talk, different, ways, manage, image, io, (ob..."
2,Xr3dvNreiwzq9ixrQ,9mdkMmj4pY8Q2TwqF,Spencer Carlson,nRAQpsPhsQs4zRvTL,Make educated guesses about the quality of my ...,vbsF64nAgoitwrNeB,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL,"[make, educate, guess, quality, half-completed..."
3,dFpfXT8szHkp2pYgG,9mdkMmj4pY8Q2TwqF,Leesha,nRAQpsPhsQs4zRvTL,I need help planning a latency handling featur...,aNdSTecskgeAm2St5,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL,"[planning, latency, handling, feature, crowdch..."
4,zEMk9HQo9azvKzDye,9mdkMmj4pY8Q2TwqF,Eureka Foong,nRAQpsPhsQs4zRvTL,Installing a program using Terminal (I'm bad a...,JaEySKdKKg7LAF3Yg,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL,"[installing, program, using, terminal, (i'm, b..."